<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
    <section class="flexbox-container">
      <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-2 p-0">
          <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
            <div class="card-header no-border">
              <div class="card-title text-xs-center">
                <%= image_tag 'logo/robust-logo-dark.png', alt: "DCR logo"%>
              </div>
              <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Create Account</span></h6>
            </div>
            <div class="card-body collapse in">
              <div class="card-block">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
                  <fieldset class="form-group position-relative has-icon-left mb-1">
                    <%= f.email_field :email, class: "form-control form-control-lg input-lg", id: "user_name", placeholder: "Your Username", required: true,tofocus: true %>
                    <div class="form-control-position">
                        <i class="icon-head"></i>
                    </div>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-lg input-lg", id: "user-password", placeholder: "Enter Password #{'('+@minimum_password_length.to_s+' characters minimum)' if @minimum_password_length}", required: true%>
                    <div class="form-control-position">
                        <i class="icon-key3"></i>
                    </div>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-lg input-lg", id: "user-password", placeholder: "Password Confirmation", required: true%>
                    <div class="form-control-position">
                        <i class="icon-key3"></i>
                    </div>
                  </fieldset>
                  <%= f.button  type: 'submit', class: "btn btn-primary btn-lg btn-block" do %>
                    <i class="icon-unlock2"></i> Register
                  <% end %>
                <% end %>
              </div>
              <p class="text-xs-center">Already have an account ? <%= link_to 'Login', new_user_session_path, class: 'card-link'%></p>
            </div>
          </div>
        </div>
    </section>
   </div>
  </div>
 </div>