<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-xs-12 mb-1">
        <h2 class="content-header-title">Users</h2>
      </div>
      <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
        <div class="breadcrumb-wrapper col-xs-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Home', root_path%>
            </li>
            <li class="breadcrumb-item"><%= link_to 'Users', users_path%>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-body"><!-- Basic ListGroups start -->
      <section id="basic-listgroup">
        <div class="row match-height">
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">List all users</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body collapse in">
                <div class="card-block">
                  <p>You have following users</p>
                  <ul class="list-group">
                    <% @users.each do |user| %>
                      <li class="list-group-item">
                        <h5 class="list-group-item-heading"><%= user.email%></h5>
                        <p class="list-group-item-text"><%= image_tag url_for(user.avatar) if user.avatar.attached? %></p>
                        <p class="list-group-item-text">
                          <strong>Documents:</strong>
                          <ul>
                            <% user.documents.each do |document| %>
                              <li><%= link_to document.blob.filename, url_for(document) %></li>
                            <% end %>
                          </ul>
                        </p>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>