<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  <%= render 'layouts/head' %>
  <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/left_side_bar' %>
    <%= yield %>
    <footer class="footer footer-static footer-light navbar-border">
      <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 <a href="https://pixinvent.com" target="_blank" class="text-bold-800 grey darken-2">PIXINVENT </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Hand-crafted & Made with <i class="icon-heart5 pink"></i></span></p>
    </footer>
    <%= render 'layouts/footer' %>

  </body>
</html>